.places {
	display: table;
	text-align: center;
}

.places h1 {
	text-align: left;
	font-size: 30px;
}

.places > article {
	width: 360px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: inline-block;
}

.places > article h2 {
	font-size: 30px;
	justify-self: center;
}

.places .price_per_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 30px;
	display: table-cell;
	vertical-align: middle;
	justify-self: flex-end;
	line-height: 60px;
	box-sizing: content-box;
}

.places .place-header {
	display: inline-grid;
	align-items: center;
	grid-template-columns: 100% 60px;
}

.places .information {
	height: 80px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.places .amenities,
.places .reviews {
	margin-top: 40px;
	text-align: left;
}

.places .amenities h2, .places .reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
}

.places .amenities .icon {
	width: 18px;
	height: 18px;
	margin: 0;
}

.places ul {
	list-style: none;
}

.places .amenities ul li .amentity {
	display: flex;
	align-items: center;
	gap: 20px;
}

.places .user {
	margin-top: 10px;
	text-align: left;
}

.places .description {
	margin-top: 10px;
	text-align: left;
}

.places .information > div {
	width: 100px;
}

.places .reviews ul li .review {
	margin-top: 20px;
}

.places .reviews ul li .review h3 {
	font-size: 14px;
}

.places .reviews ul li .review p {
	font-size: 12px;
}

@media (max-width: 726px) {
	.places > article {
		width: 100%;
		margin: 10px 0;
	}
}
